@import './colors.scss';
@import './mixins.scss';

.text-primary {
  color: $primary;
}
.text-primary-variant {
  color: $primary-variant;
}
.text-secondary {
  color: $secondary;
}
.text-secondary-variant {
  color: $secondary-variant;
}
.text-error {
  color: $error;
}
.text-success {
  color: $success;
}

.emphasis-low {
  opacity: 0.38;
}
.emphasis-medium {
  opacity: 0.64;
}
.emphasis-high {
  opacity: 0.87;
}
.emphasis-max {
  opacity: unset;
}

.surface,
.surface-0 {
  --surface-color: #{$surface};
  background-color: var(--surface-color);
  * {
    color: $on-surface;
    fill: $on-surface;
  }
}
.surface-1 {
  --surface-color: #{$surface-1};
}
.surface-2 {
  --surface-color: #{$surface-2};
}
.surface-3 {
  --surface-color: #{$surface-3};
}
.surface-4 {
  --surface-color: #{$surface-4};
}
.surface-6 {
  --surface-color: #{$surface-6};
}
.surface-8 {
  --surface-color: #{$surface-8};
}
.surface-12 {
  --surface-color: #{$surface-12};
}
.surface-16 {
  --surface-color: #{$surface-16};
}
.surface-24 {
  --surface-color: #{$surface-24};
}
.surface-error {
  --surface-color: #{$error};
  * {
    color: $on-error;
    fill: $on-error;
  }
}
.surface-success {
  --surface-color: #{$success};
  * {
    color: $on-success;
    fill: $on-success;
  }
}
.surface-primary {
  --surface-color: #{$primary};
  * {
    color: $on-primary;
    fill: $on-primary;
  }
}
.surface-primary-variant {
  --surface-color: #{$primary-variant};
  * {
    color: $on-primary-variant;
    fill: $on-primary-variant;
  }
}
.surface-secondary {
  --surface-color: #{$secondary};
  * {
    color: $on-secondary;
    fill: $on-secondary;
  }
}
.surface-secondary-variant {
  --surface-color: #{$secondary-variant};
  * {
    color: $on-secondary-variant;
    fill: $on-secondary-variant;
  }
}

.bg-control {
  background-color: #{$control};
  * {
    color: $on-surface;
    fill: $on-surface;
  }
}
.bg-error {
  background-color: #{$error};
  * {
    color: $on-error;
    fill: $on-error;
  }
}
.bg-success {
  background-color: #{$success};
  * {
    color: $on-success;
    fill: $on-success;
  }
}
.bg-primary {
  background-color: #{$primary};
  * {
    color: $on-primary;
    fill: $on-primary;
  }
}
.bg-primary-variant {
  background-color: #{$primary-variant};
  * {
    color: $on-primary-variant;
    fill: $on-primary-variant;
  }
}
.bg-secondary {
  background-color: #{$secondary};
  * {
    color: $on-secondary;
    fill: $on-secondary;
  }
}
.bg-secondary-variant {
  background-color: #{$secondary-variant};
  * {
    color: $on-secondary-variant;
    fill: $on-secondary-variant;
  }
}

.elevation {
  --elevation-box-shadow: none;
  box-shadow: var(--elevation-box-shadow);
}
.elevation-1 {
  --elevation-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.elevation-2 {
  --elevation-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.elevation-3 {
  --elevation-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12),
    0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
.elevation-4 {
  --elevation-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.elevation-6 {
  --elevation-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.elevation-8 {
  --elevation-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.elevation-12 {
  --elevation-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12),
    0 7px 8px -4px rgba(0, 0, 0, 0.2);
}
.elevation-16 {
  --elevation-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.elevation-24 {
  --elevation-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
