@layer base {
  /* Top Level */
  html,
  body {
    @apply as-h-full;
  }
  body {
    @apply as-bg-background;
  }
  * {
    @apply as-text-on-surface;
    @apply as-fill-on-surface;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* SVGs */
  svg path {
    fill: inherit;
  }

  /* Text */
  h1 {
    @apply as-heading-1 as-text-opacity-high as-text-on-surface;
  }
  h2 {
    @apply as-heading-2 as-text-opacity-high as-text-on-surface;
  }
  h3 {
    @apply as-heading-3 as-text-opacity-high as-text-on-surface;
  }
  h4 {
    @apply as-heading-4 as-text-opacity-high as-text-on-surface;
  }
  h5 {
    @apply as-heading-5 as-text-opacity-high as-text-on-surface;
  }
  h6 {
    @apply as-heading-6 as-text-opacity-high as-text-on-surface;
  }
  p,
  li {
    @apply as-body-1 as-text-opacity-high as-text-on-surface;
  }
  a {
    @apply as-body-1 as-no-underline as-text-secondaryPalette-300 hover:as-underline;
  }
  strong {
    @apply as-font-bold as-text-on-surface as-text-opacity-100;
  }
}
